body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.crew-container {
    padding: var(--spacing-300);
    display: grid;
    grid-row: 2 / 3;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    gap: var(--spacing-300);
}

.crew-container .introduction {
    color: var(--clr-base-100);
}

.crew-member-details {
    padding-block-start: var(--spacing-500);
    display: grid;
    gap: var(--spacing-300);
    grid-template-rows: min-content minmax(150px, 1fr);
}

.crew-member-details > p {
    line-height: 1.8;
}

.crew-member-role {
    font-family: var(--font-bellefair-serif);
    font-size: 18px;
    opacity: 0.5;
    text-transform: uppercase;
    padding-block-end: var(--spacing-100);
}

.crew-member-name {
    font-family: var(--font-bellefair-serif);
    font-size: 24px;
    color: var(--clr-base-100);
    text-transform: uppercase;
}

.crew-member-select {
    grid-row: 3;
    position: relative;
    inline-size: fit-content;
    margin-inline: auto;
}

.active-radio {
    position: absolute;
    background-color: var(--clr-base-100);
    border-radius: 50%;
    z-index: 2;
}

.crew-member-select input {
    appearance: none;
    inline-size: 10px;
    block-size: 10px;
    background-color: #979797;
    border-radius: 100vw;
    opacity: 0.1744;
    position: relative;
    transition: opacity 0.4s linear;
}

.crew-member-select input:not(:checked)::before {
    content: "";
    display: inline-block;
    position: absolute;
    inset: 0;
    transform: scale(0);
    background-color: inherit;
    opacity: 1;
    border-radius: inherit;
}

.crew-member-select input:not(:checked):hover::before {
    transform: scale(1);
    transition: transform 0.2s linear;
}

.crew-member-select input:checked {
    inline-size: 10px;
    block-size: 10px;
    opacity: initial;
}

.crew-member-select > *:not(span) + *:not(span) {
    margin-inline-start: var(--spacing-200);
}

.crew-member-img {
    margin-inline: auto;
    margin-block-start: var(--spacing-400);
}

.crew-member-img img {
    -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent);
    mask-image: linear-gradient(to bottom, black 60%, transparent);
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

input[type="radio"]:hover,
input[type="radio"]:focus-visible {
    opacity: 1;
    cursor: pointer;
}

@media (min-width: 676px) {
    .crew-container {
        padding: var(--spacing-500);
        grid-column: 1 / -1;
        grid-template-columns: 88px 1fr 88px;
    }

    .crew-container .introduction {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        place-self: flex-start;
        font-size: 20px;
    }

    .crew-container .introduction span {
        font-weight: bold;
        opacity: 0.25;
        display: inline-block;
        margin-inline-end: var(--spacing-300);
    }

    .crew-member-details {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        font-size: 16px;
        grid-template-rows: min-content minmax(100px, 1fr);
    }

    .crew-member-role {
        font-size: 24px;
        padding-block-end: var(--spacing-200);
    }

    .crew-member-name {
        font-size: 40px;
    }

    .crew-member-img {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
        margin-block-start: var(--spacing-100);
    }

    .crew-member-select {
        grid-column: 2 / 3;
    }
}

@media (min-width: 1092px) {
    .crew-container {
        grid-template-columns: subgrid;
        align-items: center;
    }

    .crew-container .introduction {
        grid-column: 2 / 3;
        font-size: 28px;
    }

    .crew-member-details {
        text-align: start;
        font-size: 18px;
        grid-template-rows: repeat(4, min-content);
        place-content: center;
    }

    .crew-member-role {
        font-size: 32px;
    }

    .crew-member-name {
        font-size: 56px;
    }

    .crew-member-img {
        grid-column: 3 / 4;
        grid-row: 2 / span 2;
    }

    .crew-member-select {
        grid-row: 2 / 3;
        place-self: end start;
        margin-inline: 0;
    }

    .crew-member-select > *:not(span) + *:not(span) {
        margin-inline-start: var(--spacing-500);
    }
}
