body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.destination-container {
    font-size: 16px;
    display: grid;
    grid-template-rows: min-content min-content min-content 1fr;
    grid-row: 2 / 3;
    padding: var(--spacing-300);
    gap: var(--spacing-400);
}

.introduction span {
    opacity: 0.25;
    font-weight: bold;
    display: inline-block;
    margin-inline-end: var(--spacing-300);
}

.planet-img {
    grid-row: 2;
    margin: 0 auto;
    padding: 26.5px 0;
}

.buttons-menu {
    grid-row: 3;
    display: flex;
    justify-content: center;
    position: relative;
    inline-size: fit-content;
    margin-inline: auto;
    gap: var(--spacing-400);
}

.planet-name {
    color: var(--clr-base-100);
    font-family: var(--font-bellefair-serif);
    font-size: 56px;
    text-transform: uppercase;
}

.planet-details {
    grid-row: 4;
    font-size: 15px;
    display: grid;
    gap: var(--spacing-300);
    grid-template-rows: repeat(4, min-content);
}

.planet-details p {
    border-block-end: 1px solid rgba(255, 255, 255, 0.25);
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    padding-block-end: var(--spacing-300);
    line-height: 1.8;
}

.planet-averages-container {
    display: grid;
    gap: var(--spacing-300);
}

.planet-averages {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: var(--spacing-25);
}

.planet-average-value {
    color: var(--clr-base-100);
    font-family: var(--font-bellefair-serif);
    font-size: 28px;
    display: block;
    letter-spacing: 0;
    margin-block-start: var(--spacing-150);
}

.buttons-menu button {
    background: none;
    border: none;
    font-family: var(--font-barlow-condensed-sans);
    color: var(--clr-primary-300);
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-inline: 0;
    padding-block-end: 11px;
    position: relative;
}

.buttons-menu button::before {
    content: "";
    display: inline-block;
    position: absolute;
    inset: 0;
    border-block-end: 3px solid transparent;
    transform: scaleX(0);
}

.buttons-menu button:not(.destination-btn-active):hover::before {
    cursor: pointer;
    border-block-end: 3px solid rgba(255, 255, 255, 0.5);
    transform: scaleX(1);
    transition: all 0.25s ease-out;
}

button.destination-btn-active {
    color: var(--clr-base-100);
}

.active-something {
    position: absolute;
    border-block-end: 3px solid var(--clr-base-100);
    transform: initial;
}

@media (min-width: 676px) {
    .destination-container {
        grid-row: 2;
        grid-column: 1 / -1;
        grid-template-columns: 88px 1fr 88px;
        padding: var(--spacing-500);
    }

    .introduction {
        text-align: start;
        color: var(--clr-base-100);
        font-size: 20px;
        grid-column: 1 / span 2;
    }

    .buttons-menu {
        justify-content: center;
        gap: var(--spacing-400);
        display: grid;
        grid-auto-flow: column;
        grid-column: 2 / 3;
    }

    .planet-img {
        grid-column: 1 / span 3;
    }

    .planet-name {
        font-size: 80px;
        grid-row: 1;
        grid-column: 1 / -1;
    }

    .planet-details {
        font-size: 16px;
        grid-template-columns: subgrid;
        grid-column: 2 / 3;
    }

    .planet-details p {
        grid-row: 2;
    }

    .planet-averages-container {
        display: flex;
        justify-content: space-evenly;
    }

    .planet-averages {
        grid-row: 3;
    }
}

@media (min-width: 1092px) {
    .destination-container {
        padding: var(--spacing-300) 0;
        grid-column: 1 / -1;
        grid-template-columns: subgrid;
        grid-template-rows: min-content 0.5fr 32px 2fr 0.5fr;
    }

    .introduction {
        font-size: 28px;
        grid-column: 2 / 3;
    }

    .planet-details {
        font-size: 18px;
        gap: var(--spacing-500);
    }

    .planet-img {
        grid-column: 2 / 3;
        grid-row: 3 / span 2;
        padding: 0;
    }

    .planet-name {
        font-size: 96px;
        line-height: 1;
    }

    .buttons-menu {
        grid-row: 3 / 4;
        grid-column: 3 / 4;
        justify-content: flex-start;
    }

    .planet-details {
        grid-row: 4 / 5;
        grid-column: 3 / 4;
        gap: var(--spacing-500);
        font-size: 18px;
        text-align: start;
    }

    .planet-details p {
        padding-block-end: var(--spacing-500);
    }

    .planet-averages-container {
        justify-content: flex-start;
    }

    .planet-averages-container > * {
        flex-basis: 50%;
    }

    .buttons-menu {
        margin-inline: 0;
    }
}
