body {
    color: var(--clr-primary-300);
    font-family: var(--font-barlow-sans);
    font-size: 15px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

.main {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: subgrid;
}

.introduction {
    font-size: 16px;
    text-transform: uppercase;
    font-family: var(--font-barlow-condensed-sans);
    letter-spacing: 1px;
}

.space-strong {
    display: block;
    color: var(--clr-base-100);
    font-family: var(--font-bellefair-serif);
    font-size: 80px;
    line-height: 1.3;
    text-transform: uppercase;
}

.btn-primary {
    font-family: var(--font-bellefair-serif);
    font-size: 18px;
    text-transform: uppercase;
    background-color: var(--clr-base-100);
    color: var(--clr-primary-900);
    border: none;
    border-radius: 100%;
    display: inline-block;
    width: 144px;
    aspect-ratio: 1 / 1;
    margin-top: 5rem;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--clr-base-100);
}

@media (min-width: 676px) {
    body {
        /* grid-template-columns: 128px 1fr auto; */
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }
}

@media (min-width: 1092px) {
    body {
        grid-template-columns: 80px 1fr 1fr 80px;
        grid-template-rows: 136px 1fr;
    }
}

@media (min-width: 1245px) {
    body {
        grid-template-columns: 176px 1fr 1fr 176px;
    }
}
