.header {
    display: grid;
    grid-row: 1 / 2;
    padding: 24px;
    align-items: center;
    grid-template-columns: auto 1fr;
}

.header figure:last-child {
    place-self: flex-end;
    align-self: center;
}

ul {
    display: flex;
    align-items: center;
    gap: 48px;
}

.header a {
    display: inline-block;
    padding: 37px 0;
}

.active-menu-item {
    border-bottom: 3px solid var(--clr-base-100);
}

@media (min-width: 676px) {
    .header {
        padding: 0;
        grid-column: 1 / -1;
        grid-row: 1;
        /* grid-template-columns: subgrid; */
        grid-template-columns: 128px 1fr;
    }

    .header figure {
        padding-inline: 40px;
    }

    .header img {
        width: 48px;
        aspect-ratio: 1 / 1;
    }

    nav {
        background-color: hsla(0, 0%, 100%, 0.05);
        font-family: var(--font-barlow-condensed-sans);
        font-size: 16px;
        letter-spacing: 2px;
        padding: 0 40px;
        grid-column: 2 / 4;
    }

    nav strong {
        letter-spacing: 2.7px;
        display: initial;
        font: inherit;
        font-weight: 900;
    }

    ul {
        justify-content: flex-end;
    }
}

@media (min-width: 1092px) {
    .header {
        padding: 40px 0 0 0;
        position: relative;
        grid-template-columns: 176px 1fr 1fr 176px;
    }

    .header nav {
        backdrop-filter: blur(80px);
        grid-column: 3 / 5;
        padding-right: 64px;
    }

    .header nav::before {
        content: "";
        height: 1px;
        width: calc(50vw - 176px);
        display: inline-block;
        background-color: var(--clr-base-100);
        opacity: 0.25;
        position: absolute;
        top: 50%;
        left: -35%;
        transform: translateX(-50%);
        filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    }

    .header figure {
        padding-left: 64px;
    }
}
