.header {
    display: grid;
    grid-row: 1 / 2;
    padding: var(--spacing-300);
    align-items: center;
    grid-template-columns: 40px 1fr;
    justify-items: end;
}

.header img[src*="icon"]:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
}

.header figure:last-child {
    place-self: flex-end;
    align-self: center;
}

ul {
    display: flex;
    align-items: center;
    gap: var(--spacing-600);
}

.header a {
    display: inline-block;
    padding: 37px 0;
}

.active-menu-item {
    border-block-end: 3px solid var(--clr-base-100);
}

.mobile-sidebar {
    position: absolute;
    z-index: 100;
    inline-size: 70vw;
    block-size: 100vh;
    inset-block-start: 0;
    inset-inline-end: -70%;
    background-color: rgba(11, 13, 23, 0.15);
    backdrop-filter: blur(80px);
    padding: var(--spacing-400) 0px var(--spacing-400) var(--spacing-400);
    display: none;
    gap: var(--spacing-600);
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);
    font-size: 16px;
    font-family: var(--font-barlow-condensed-sans);
    letter-spacing: var(--spacing-25);
}

.mobile-sidebar figure {
    justify-self: end;
    padding-inline-end: var(--spacing-400);
    padding-block-end: var(--spacing-400);
}

.mobile-sidebar ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-400);
}

.mobile-sidebar ul > * {
    inline-size: 100%;
    text-align: start;
}

.mobile-sidebar li:hover {
    border-inline-end: 3px solid rgba(255, 255, 255, 0.5);
    transform: scale(1.1, 1.2);
    transition: transform 0.2s ease-in-out;
}

.mobile-sidebar a {
    padding: 0;
    display: inline-block;
    inline-size: inherit;
}

.mobile-sidebar .active-menu-item {
    border-inline-end: initial;
    border-inline-end: 3px solid var(--clr-base-100);
}

.mobile-sidebar strong {
    letter-spacing: 2.7px;
}

@media (min-width: 676px) {
    .header {
        padding: 0;
        grid-column: 1 / -1;
        grid-row: 1;
        grid-template-columns: 128px 1fr;
        justify-items: initial;
    }

    .header figure {
        padding-inline: var(--spacing-500);
    }

    .header img {
        inline-size: var(--spacing-600);
        aspect-ratio: 1 / 1;
    }

    nav {
        background-color: hsla(0, 0%, 100%, 0.05);
        font-family: var(--font-barlow-condensed-sans);
        font-size: 16px;
        letter-spacing: var(--spacing-25);
        padding: 0 var(--spacing-500);
        grid-column: 2 / 4;
    }

    nav strong {
        letter-spacing: 2.7px;
        display: initial;
        font: inherit;
        font-weight: 900;
    }

    ul {
        justify-content: flex-end;
    }

    nav a::before {
        content: "";
        display: inline-block;
        position: absolute;
        inset: 0;
        border-block-end: 3px solid transparent;
        transform: scaleX(0);
    }

    nav a {
        position: relative;
    }

    nav a:not(.active-menu-item):hover::before {
        border-block-end: 3px solid rgba(255, 255, 255, 0.5);
        transform: scaleX(1);
        transition: all 0.25s ease-out;
    }
}

@media (min-width: 1092px) {
    .header {
        padding: var(--spacing-500) 0 0 0;
        position: relative;
        grid-template-columns: 100px 300px 1fr 1fr 100px;
    }

    .header nav {
        backdrop-filter: blur(80px);
        grid-column: 3 / -1;
        padding-inline-end: var(--spacing-800);
    }

    .header nav::before {
        content: "";
        block-size: 1px;
        inline-size: calc(300px + 2vw);
        display: inline-block;
        background-color: var(--clr-base-100);
        opacity: 0.25;
        position: absolute;
        inset-block-start: 50%;
        inset-inline-start: -145px;
        transform: translateX(-50%);
        filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
        grid-column: 2;
    }

    .header figure {
        padding: 0 0 0 var(--spacing-400);
    }
}

@media (min-width: 1245px) {
    .header {
        padding: var(--spacing-500) 0 0 0;
        position: relative;
        grid-template-columns: 176px 1fr 1fr 176px;
    }

    .header nav {
        backdrop-filter: blur(80px);
        grid-column: 3 / 5;
        padding-inline-end: var(--spacing-800);
    }

    .header nav::before {
        content: "";
        block-size: 1px;
        inline-size: calc(50vw - 176px);
        display: inline-block;
        position: absolute;
        inset-block-start: 50%;
        inset-inline-start: -35%;
    }

    .header figure {
        padding-inline-start: var(--spacing-800);
    }
}
