body {
    background-image: url("/assets/home/background-home-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@media (min-width: 676px) {
    body {
        background-image: url("/assets/home/background-home-tablet.jpg");
    }
}

@media (min-width: 1092px) {
    body {
        background-image: url("/assets/home/background-home-desktop.jpg");
    }
}
